<div class="sidebar fade" [ngClass]="{'show': sideBarTus, 'd-none': !sideBarTus}">
  <div class="sidebar-content">
    <div class="sidebar-close clearfix p-2">
      <div class="float-right">
        <fa-icon [icon]="['fas', 'times']" class="sidebar-close-icon px-2" (click)="closeSideBar($event)"></fa-icon>
      </div>
    </div>
    <div class="social-block mx-4 mb-5">
      <h4 class="social-title text-uppercase mb-4">my instagram</h4>
      <div class="row mx-0">
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-4 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
      </div>
    </div>
    <div class="social-block mx-4">
      <h4 class="social-title text-uppercase">my flickr photos</h4>
      <div class="row mx-0">
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
        <div class="col-3 mb-2">
          <img src="../../../assets/img/albums/hvhc/1.jpg" class="social-thumb w-100 h-100" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-overlay" (click)="closeSideBar($event)"></div>
</div>
