<div class="container album-detail mt-3">
  <div class="markup-page"></div>
  <div class="album-info text-center">
    <h4 class="album-title">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
    <p class="album-meta text-uppercase">45 photos</p>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
    <div class="col-sm-4 mb-4">
      <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="album-img w-100 h-100">
    </div>
  </div>
  <div class="upload-img">
    <label for="upload">Upload Images</label>
    <input type="file" id="upload" hidden (change)="onFileSelected($event)">
  </div>
</div>