<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-4">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-4">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-3">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-6">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-3">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-4">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-4">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-4">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-5">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-2">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
    <div class="col-sm-5">
       <div class="gallery-link" (click)="goDetail()">
          <img src="../../assets/img/albums/hvhc/1.jpg" alt="" class="gallery-img w-100 h-100">
      </div>
      <div class="gallery-info mt-2">
          <h4 class="gallery-title mb-0">Kỷ yếu KS17A - Học Viện Hành Chính</h4>
          <p class="gallery-meta text-uppercase">45 photos</p>
      </div>
    </div>
  </div>
</div>